
.main_h1{
  text-align: center;
}

.events_board{
  display: flex;
  padding-left: 143px;
}

.event{
  width: 475px;
  height: 356px;
}

.event_picture{
  background-color: #FFE76B;
  width: 475px;
  height: 245px;
}

.event_text{
  width: 475px;
  box-shadow: 0px 10px red;
  display: flex;
  flex-wrap:nowrap;
}

.event_text_date{
  display: flex;
  flex-wrap: wrap;
  width: 146px;
}

.event_line{
  border-right: 3px solid #000000;
  width: 1px;
  height: 81px;
  /* padding-left: 146px; */
}